
.container {
  position: relative;
  width: 100%;
  height: inherit;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: auto;
  max-width: var(--maxwidth);
}

.content {
  max-width: 800px;
  width: 800px;
  display: inline-block;
}

.side {
  margin-right: var(--gutter);
  display: inline-block;
  min-width: 250px;
  flex: 1;
}